RewriteEngine on

RewriteRule ^home index.html [NC]
RewriteRule ^about_me about-me.html [NC]
RewriteRule ^contact contact.html [NC]
RewriteRule ^game game.html [NC]
RewriteRule ^social social.html [NC]
