RewriteEngine on
RewriteBase /

RewriteRule ^index/?$ / [R=301,L]

RewriteRule ^about_me/?$ about-me.html [NC,L]
RewriteRule ^contact/?$ contact.html [NC,L]
RewriteRule ^game/?$ game.html [NC,L]
RewriteRule ^social/?$ social.html [NC,L]
RewriteRule ^album-stories/?$ album-stories.html [NC,L]
RewriteRule ^events/?$ events.html [NC,L]
RewriteRule ^portfolio/?$ portfolio.html [NC,L]
RewriteRule ^submit/?$ submit.html [NC,L]

RewriteRule ^12-12-24/?$ 12-12-24.html [NC,L]

DirectoryIndex index.html
