RewriteEngine on
RewriteBase /

RewriteRule ^index/?$ index.html [NC,L]
RewriteRule ^about_me/?$ about-me.html [NC,L]
RewriteRule ^contact/?$ contact.html [NC,L]
RewriteRule ^game/?$ game.html [NC,L]
RewriteRule ^social/?$ social.html [NC,L]
RewriteRule ^album-stories/?$ album-stories.html [NC,L]
RewriteRule ^events/?$ events.html [NC,L]
